<div style="background-image:url('{$layout_info->path}img/slide_img1.jpg');" class="swiper-slide">
	<div>
		<div>
			<h1>SHARING, PUBLISHING.<br />&amp; PLEASURE.</h1>
			<p>지식을 나누고 컨텐츠를 출판하며 즐거움을 함께합니다.</p>
		</div>
	</div>
</div>
<div style="background-image:url('{$layout_info->path}img/slide_img2.jpg');" class="swiper-slide">
	<div>
		<div>
			<h1>MAKING<br />RIGHT MATHEMATICS LEARNING.</h1>
			<p>제대로 하는 바른 수학 학습을 지향합니다.</p>
		</div>
	</div>
</div>
<div style="background-image:url('{$layout_info->path}img/slide_img3.jpg');" class="swiper-slide">
	<div>
		<div>
			<h1>EVOLUTION &amp; INNOVATION<br />TOGETHER</h1>
			<p>함께 성장하고 혁신을 추구합니다.</p>
		</div>
	</div>
</div>
<div style="background-image:url('{$layout_info->path}img/slide_img4.jpg');" class="swiper-slide">
	<div>
		<div>
			<h1>POTENTIAL DISCOVERY<br />RIGHT LEARNING HABITS.</h1>
			<p>학생의 잠재력을 발굴하고 좋은 학습 습관을 만들어 갑니다.</p>
		</div>
	</div>
</div>
<div style="background-image:url('{$layout_info->path}img/slide_img5.jpg');" class="swiper-slide">
	<div>
		<div>
			<h1>A PLEASANT PROMISE.<br />SUCCESSFUL EXAM. WITH MATH4U.</h1>
			<p>수학영역의 기분좋은 약속!!! 성공적인 입시에 매쓰포유가 함께 합니다.</p>
		</div>
	</div>
</div>
