<!-- WelcomeXE -->
<div class="welcomeXE">

	<section class="guide">
		<span class="noti">GUIDE</span>
		<h1 class="tit">START-UP</h1>
		<ul>
		<li>
			<a href="http://www.math4u.co.kr/xe" class="ico"><i class="xi-home"></i><span class="blind">사이트 제목 바꾸기</span></a>
			<h2>매쓰포유는...</h2>
			<p>홈페이지 기본정보를 볼 수 있습니다.<br /> 카이 김승현쌤과 수업을 진행하는 학생들에게 학습에 필요한 서비스를 제공하는 홈페이지입니다.</p>
		</li>
		<li>
			<a href="#" class="ico"><i class="xi-layout-top-left"></i><span class="blind">레이아웃 디자인 바꾸기</span></a>
			<h2>시중교재 풀이</h2>
			<p>학습을 진행하면서 사용하는 참고서 풀이 중 카이쌤 만의 특별한 해석과 풀이를 동영상으로 볼 수 있습니다. 참고서 풀이와 같은 풀이는 제공하지 않습니다.</p>
		</li>
		<li>
			<a href="#" class="ico"><i class="xi-pen"></i><span class="blind">초기화면 바꾸기</span></a>
			<h2>내신기출 풀이</h2>
			<p>강남권 기출문제 풀이를 제공합니다.<br /> <a href="{getUrl('', 'module', 'admin', 'act', 'dispMenuAdminSiteMap')}" target="_blank">[고1 &gt; 내신기출]</a>과 <a href="{getUrl('', 'module', 'admin', 'act', 'dispMenuAdminSiteMap')}" target="_blank">[고2 &gt; 내신기출]</a>에서 메뉴 선택 후 사용할 수 있습니다.</p>
		</li>
		<li>
			<a href="#" class="ico"><i class="xi-cine-camera"></i><span class="blind">기능과 디자인 추가하기</span></a>
			<h2>수능&amp;모의고사 풀이</h2>
			<p>고3 학생과 n수생을 위한 서비스입니다.<br /> 이 서비스는 <a href="{getUrl('', 'module', 'admin', 'act', 'dispAutoinstallAdminIndex')}" target="_blank">[고3]</a>에서 메뉴선택 후 이용할 수 있습니다.</p>
		</li>
		<li>
			<a href="#" class="ico"><i class="xi-sitemap"></i><span class="blind">메뉴 구조 구성하기</span></a>
			<h2>공지사항</h2>
			<p>학생 및 학부모님들께 수시로 보내는 입시정보를 볼 수 있습니다. 이 정보는 발행될 때 마다 학부모님들께 SMS나 카톡을 통해 개별적으로 발송해 드립니다.</p>
		</li>
		<li>
			<a href="#" class="ico"><i class="xi-marquee-add"></i><span class="blind">레이아웃 꾸미기</span></a>
			<h2>질문과 복습</h2>
			<p>동영상 강의로 학습 후 궁금한 내용은 Offline 학습시에 카이쌤에게 수시로 질문을 합니다.<br /> 질문과 복습이 꾸준히 진행될 때 실력향상이 극대화 됩니다.</p>
		</li>
		</ul>
	</section>
	<section class="features">
		<span class="noti">SERVICE</span>
		<h1 class="tit">매쓰포유에서 제공하는 서비스</h1>
		<p class="cont">카이쌤과 수업을 진행하는 학생들에게 제공하는 서비스입니다.<br />외부학생은 여기서 회원가입을 해도 승인되지 않습니다.<br />카이쌤에게 수업을 받는 학생들을 위한 서비스만을 제공합니다.</p>
		<ul>
		<li>
			<div class="fe_box">
				<div class="fe_top">
					<span class="ico"></span>
					<h2>고1/고2 시중교재</h2>
				</div>
				<div class="fe_bottom">
					<p>자기주도 학습을 진행하면서 학습하게 되는 기존의 동영상 학습과 별도로 카이쌤만의 특별한 문제해석과 해결방법을 학습할 수 있습니다.</p>
					<a href="http://www.math4u.co.kr/xe/index.php?mid=gyojae">CHECK IT OUT</a>
				</div>
			</div>
		</li>
		<li>
			<div class="fe_box">
				<div class="fe_top">
					<span class="ico ico2"></span>
					<h2>고1/고2 내신기출</h2>
				</div>
				<div class="fe_bottom">
					<p>Offline 학습에서 제공하는 내신 기출문제 이외에 더 많은 문제를 접하고 싶은 학생은 여기서 문제와 해설을 볼 수 있습니다.</p>
					<a href="http://www.math4u.co.kr/xe/index.php?mid=gichul">CHECK IT OUT</a>
				</div>
			</div>
		</li>
		<li>
			<div class="fe_box">
				<div class="fe_top">
					<span class="ico ico3"></span>
					<h2>고3 시중교재</h2>
				</div>
				<div class="fe_bottom">
					<p>자기주도 학습을 진행하면서 학습하게 되는 기존의 동영상 학습과 별도로 카이쌤만의 특별한 문제해석과 해결방법을 학습할 수 있습니다.</p>
					<a href="http://www.math4u.co.kr/xe/index.php?mid=gyojaego3">CHECK IT OUT</a>
				</div>
			</div>
		</li>
		<li>
			<div class="fe_box">
				<div class="fe_top">
					<span class="ico ico4"></span>
					<h2>수능기출&모의고사</h2>
				</div>
				<div class="fe_bottom">
					<p>Offline 학습에서 제공하는 모의고사와 수능기출문제 이외에 더 많은 문제를 접하고 싶은 학생은 여기서 문제와 해설을 볼 수 있습니다.</p>
					<a href="http://www.math4u.co.kr/xe/index.php?mid=sunung">CHECK IT OUT</a>
				</div>
			</div>
		</li>
		</ul>
	</section>
	<section class="connect">
		<span class="noti">WHAT KHAI DOING</span>
		<h1 class="tit">카이가 하는 일</h1>
		<ul>
			<li>
				<a href="http://www.math4u.co.kr/xe" class="ico"><i class="xi-check-homeout"></i><span class="blind">COMMUNITY</span></a>
				<h2>매쓰포유</h2>
				<p>자기주도 학습과 개인지도 위주로 진행되는 카이쌤의 연구실입니다.<br />Tel. (02) 6326-1515</p>
			</li>
			<li>
				<a href="#" class="ico"><i class="xi-education"></i><span class="blind">Q&A</span></a>
				<h2>HI-MATH</h2>
				<p>한티역 인근의 수학전문학원에서 강의식 수업이 진행됩니다.<br />Tel. (02) 552-0707</p>
			</li>
			<li>
				<a href="#" class="ico"><i class="xi-stack-paper"></i><span class="blind">DOWNLOAD</span></a>
				<h2>Etoos 교재검토</h2>
				<p>(주)Etoos Book의 교재 검토위원으로 (주)Etoos Book에서 출간되는 고등부 교재들을 검수합니다.</p>
			</li>
			<li>
				<a href="#" class="ico"><i class="xi-naver"></i><span class="blind">DOWNLOAD</span></a>
				<h2>Naver 지식In</h2>
				<p>재능기부의 일환으로 Naver 지식In에서 현재 물신등급으로 고등수학 관련질문에 답변을 제공하고 있습니다..</p>
			</li><br />
			<li>
				<a href="#" class="ico"><i class="xi-play"></i><span class="blind">DOWNLOAD</span></a>
				<h2>강의 콘텐츠 제작</h2>
				<p>Online 학습을 위한 동영상 강의 콘텐츠를 제작하고 연구합니다.</p>
			</li>
			<li>
				<a href="#" class="ico"><i class="xi-community"></i><span class="blind">GITHUB</span></a>
				<h2>수학연구 세미나</h2>
				<p>다양한 학습/지도방법을 연구하기 위해 매주 2~3회씩 수학 강사들과 세미나를 진행합니다.</p>
			</li>
		</ul>
	</section>
</div>
<!-- /WelcomeXE -->
